html {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-primary);
}

:root {
  --navbar-height: 60px;
  --color-primary: #242635;
  --font-colortext: #d1ceca;
  --font-colorheader:#34B0BE;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Diseño de navbar */
.navbar {
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  background-color: #242635;
  top: 0;
}
.navbar__container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
.navbar__menu {
  width: 100%;
  background-color: #242635;
  top: var(--navbar-height);
}
.navbar__list {
  display: flex;
}
.a {
  text-decoration: none;
}
.navbar__link {
  color: #d1ceca;
  text-decoration: none;
}
.navbar__list {
  display: flex;
}
.img {
  max-width: 100%;
  width: 100%;
}
/* Diseño del Header */
.header{
  background-color: var(--color-primary);
  /* border: 1px solid red; */
}


.header__image--container{
  background-color: grey;
  /* border: 5px solid lightblue; */
  border-radius: 15px;
}
.header_info{
/* border: 5px solid pink; */
}
.header__social{
  /* border: 3px solid green; */
  background-color: grey;
  color: var(--color-primary);
  border-radius: 9px;
}
.header__icons i{
  background-color: var(--font-colortext);
  border-radius: 50%;
  padding: 7px;
  font-size: 1.5rem;
  color: var(--color-primary);
}
.wrapper{
  width: 100%;
}


.wrapper {
  /* width: 100px; */
  margin-top: var(--navbar-height);
}

.aboutme p{
  color:var(--font-colortext)
}
.aboutme h2{
  color: var(--font-colorheader);
}
.description__container{
  color: var(--font-colortext)
}



span{
  color: var(--font-colorheader);
}
/* version movil */
@media (max-width: 500px) {
  /* Diseño navbar */
  .navbar__list {
    flex-direction: column;
    gap: 0.6rem;
    margin: 2rem 0 1.5rem;
    align-items: center;
    
  }
  .navbar_button{
    position:absolute;
    right: 20px;
    color: #d1ceca; 
    cursor: pointer;

  }

  .navbar__menu {
    top: -700%;
    position: absolute;
    width: 100%;
    background-color: #242635;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 12px 3px #000;
    transition: all .3s ease;
  }
  .navbar__menu.active {
    top: 0;
  }

  .btn--close{
    position: absolute;
    top: 9px;
    right: 20px;
    color: #d1ceca; 
    cursor: pointer;
  }
  /* Header */
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.2rem;
    width: 100%;

  }
  .header__image--container{
    width: 293px;
    height: 363px;
    text-align: center;

  }
  .image img{
    height: 363px;
    right: -65px;
  }
  .description__text{
    font-size: 20px;
    
  }

  .header_info{
    width: 380px;
    text-align: center;
  }
  .header_info p{
    color: var(--font-colortext);
  }

  .header_info h2{
    color:#d1ceca;
    width: 100%;
    font-size: 40px;
  }
  .header__social{
    width: 380px;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 3px;
    margin: 2rem;
    
  }
  .header__icons{
    gap: 1.5rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
  }
  .header__social i{
    background-color: var(--font-colortext);
    padding: .65rem .80rem;
    font-size: 50px;
    border-radius: 8px;
  }
/* About me section */
.aboutme{
  text-align: center;
  
}
.description__container{
  display: flex;
  flex-direction: column;
  text-align: center;
}



/* version escritorio */
@media (min-width: 500px) {
  .navbar_button {
    display: none;
  }
  .btn--close {
    display: none;
  }
  .navbar__list {
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
  }
}